figure {
    margin: var(--space-3) 0;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    margin-top: var(--space-1);
    font-size: var(--text-sm);
    color: var(--neutral);
    font-style: italic;
    text-align: center;
}

